<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inder&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <title>Anorma Films</title>
    {% load sass_tags %}
    {% load static %}
    <link rel="stylesheet" href="{% sass_src 'core/services.scss' %}">
</head>

<body>
    <header>
        <div class="logo"> <a href="{% url 'home' %}">

                <img src="{% static 'core/ANORMA-logo-RGBood-website.png' %}" alt="Anorma Films Logo"
                    class="logo-image">
            </a>
        </div>
        <nav class="language-selector">
            Contact
        </nav>
    </header>

    <main>
        <div class="services-container">
            <div class="image-container">
                {% if content.image %}
                <img src="{{ content.image.url }}" alt="Service Image" style="max-width: 100%; height: auto;">
                {% else %}
                <p>No image available.</p>
                {% endif %}
            </div>

            <div class="description">
                <p>{{ content.content }}</p>
            </div>
        </div>
    </main>
    <div class="go-back">
        <a href="{% url 'home' %}">Back</a>
    </div>
</body>

</html>